body{
    text-align:center;
}

.btn{
    height:150px;
    width:150px;
    border-radius: 2rem;
    border: 5px solid black;
    margin:2rem;
    color:white;
}

.btn-container{
    display: flex;
    justify-content: center;
    
}
.one{
    background-color: rgb(11, 11, 163);
}
.two{
    background-color:rgba(255, 0, 0, 0.637);
}
.three{
    background-color:rgba(5, 161, 5, 0.575) ;
}
.four{
    background-color: rgb(177, 14, 141);
}

.white{
    background-color: white;;
}